In [256]:
# To use this create a DSN conneciton with the following properties: 
# SQL authorisation
# Server: KG-Training22
# Default Database: algo
# Application intent: Readwrite

DSN_Name = 'traderDSN'
Login_ID = 'basic'
pwd = 'pwd1'

# Create a DSN connection and a cursor to do stuff. 
from sqlalchemy import create_engine
import pandas as pd

# The engine does the same job as a connection and a cursor
engine = create_engine(r'mssql+pyodbc://'+Login_ID+':'+pwd+'@'+ DSN_Name) 

# Build query here:
query = ''' 
SELECT * FROM newtab
'''

# Importing a Pandas Dataframe: 
df1 = pd.read_sql(query,engine)

# Display
df1

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid,ModifiedDate
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00,48754992-9EE0-4C0E-8C94-9451604E3E02,2005-01-28
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1E0A7274-3064-4F58-88EE-4C6586C87169,2005-06-24
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,2005-06-24
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-BFEC-4242-874D-423162C3F567,2005-06-24
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7A0AE1AB-B283-40F9-91D1-167ABF06D720,2005-06-24
5,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52A5179D-3239-4157-AE29-17E868296DC0,2005-06-24
6,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,BE941A4A-FB50-4947-BDA4-BB8972365B08,2005-06-24
7,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326DDB-7278-4FEF-B3BA-EA137B69094E,2005-06-24
8,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31FD7FC1-DC84-4F05-B9A0-762519EACACC,2005-06-24
9,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6BAC15B2-8FFB-45A9-B6D5-040E16C2073F,2005-06-24
10,284,1.0,300000.0,3900.0,0.019,1.576562e+06,0.000000e+00,AC94EC04-A2DC-43E3-8654-DD0C546ABC17,2006-10-25
11,285,NaN,NaN,0.0,0.000,1.725245e+05,0.000000e+00,CFDBEF27-B1F7-4A56-A878-0221C73BAE67,2007-04-08
12,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9B968777-75DC-45BD-A8DF-9CDAA72839E1,2007-06-24
13,287,NaN,NaN,0.0,0.000,5.199059e+05,0.000000e+00,1DD1F689-DF74-4149-8600-59555EEF154B,2006-05-11
14,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224BB25A-62E3-493E-ACAF-4F8F5C72396A,2007-06-24
15,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25F6838D-9DB4-4833-9DDC-7A24283AF1BA,2006-06-24
16,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,F509E3D4-76C8-42AA-B353-90B7B8DB08DE,2006-06-24

In [261]:
# Get current time for creating custom tables:
from datetime import datetime
now = datetime.now()
now_s = now.strftime('%H%M_%d%m%y')
now_s

# Writing to a Pandas dataframe:
tablename = 'tbl1'

# if exists flag is important.
#df1.to_sql(tablename+now_s,engine, if_exists='fail')
df1.to_sql(tablename+now_s, engine, if_exists='replace')